<!DOCTYPE html>
<!-- doctype informa ao agente de usuário a versão do html que deve ser renderizada-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Raphael Gimenes">
    <meta name="description" content="Estudo java script">
    <meta name="keywords" content="html5, css, javascript, tecnologia">
    <title>Agenda</title>
    <!--NÃO PRECISAMOS CARREGAR OS CSS pois estão sendo crregados pelo webpack-->
    
</head>

<body>
    <%- include('nav'); %>
    <section class="container">
        <div class="row">
            <div class="col-lg-2"></div>
    
            <div class="col-lg-8 my-3">
    